* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}

nav {

    width: 90em;
    display: flex;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    perspective: 2000px;
    flex-wrap: wrap;
    top: 3em;
}

.nav-div {
    display: flex;
    align-items: center;

}

a {
   text-decoration: none;
}

.nav-text {
      /*float: left;
      width: 175px;
      display: flex;
      height: 40px;
      text-align: center;
      font-size: 18px;
      justify-content: center;
      color: white;
      text-decoration: none;
      margin-bottom: 70px;*/
    word-wrap: normal;
    color: white;
    font-weight: 600;
    transform-style: preserve-3d;
    flex-grow: 1;
    display: flex;
    flex-basis: 90em;
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: center;
    perspective: 200px;
    letter-spacing: 2px;
    min-height: 7.5em;
    align-self: center;
}

.nav-text:hover {
    color: lightgrey;
}

.nav-logo img {
      float: left;
      width: 40px;
      margin-left: 30px;
      margin-right: 30px;
      height: auto;
      text-align: center;
      justify-content: center;
      z-index: 1;
      margin-bottom: 70px;
}

.nav-logo:hover {
    filter: brightness(70%);
}


body {

    background: #0c1c31;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    vertical-align: middle;
}

.home {
    height: 25vh;
    display: flex;
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100vh;
    margin: 0 auto;
}

.content {
    max-width: 1500px;
    color: white;
    margin: 10px;
    overflow: auto;
    width: 100vw;
    padding-left: 40px;
    padding-right: 40px;
    display: block;


}

#about-me-content {
    align-content: center;
    display: flex;
    width: 80%;
    margin: 25px auto 150px;
}

.content h1 {
    font-size: 56px;
    font-weight: 700;

}

.solid-line {
    border-bottom: 2px solid whitesmoke;
    margin-top: 20px;
}

#projects, #experience, #resume {
    text-align: center;
}

.content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #76bbcc;
    padding-top: 10px;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 10px;
}

.content-box {

    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

#name-content {
    align-self: center;
    margin: 0 auto;
    font-size: 70px;
    text-align: center;
    width: 70%;
}

#title-content {
    align-self: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 4vh;
    text-align: center;
    width: 70%;
    color: #e3e8ff;
    text-shadow: #e3e8ff 1px 0 3px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    15% { opacity: 0; }
    100% { opacity: 1; }
}


#name {

    font-size: 9vh;
    background-image: linear-gradient(230deg, #bf65f2, #3de3ec);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0 94%}
    50%{background-position:100% 7%}
    100%{background-position:0 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0 94%}
    50%{background-position:100% 7%}
    100%{background-position:0 94%}
}
@keyframes AnimationName {
    0%{background-position:0 94%}
    50%{background-position:100% 7%}
    100%{background-position:0 94%}
}


.github-link {
    color: #76bbcc;
    font-style: italic;
}

.github-link:hover {
    color: #457485;
}


.project-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#resume-line {
    margin-bottom: 20px;
}

#experience-line {
    margin-bottom: 70px;
}

.pdf-holder  {
    display: flex;
    justify-content: center;

}

li {
    font-size: 20px;
    line-height: 1.5;
    list-style-type: circle;
    padding: 10px 0 !important;
    padding-left: 20px !important;
}

.resume-list {
    font-size: 20px;
    line-height: 1.5;
    list-style-type: circle;
    padding: 10px 0 !important;
    padding-left: 20px !important;
}

#blank-space { /* to make navigation work properly with the nav bar. scroll-margin-top works in localhost but
not GitHub pages, Seems to be a GitHub pages issue */
    margin-bottom: 50px;
}

#resume-box {
    margin-bottom: 30px;
}

#bottom-space {
    opacity: max(0%);
}




.download-button {
      background: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
      box-sizing: border-box;
      color: #091423;
      cursor: pointer;
      display: block;
      font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
      font-size: 16px;
      font-weight: 800;
      line-height: 16px;
      min-height: 40px;
      outline: 0;
      padding: 12px 14px;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      justify-content: center;
      margin: 0 auto;
      max-width: 200px;
}

.download-button:hover,
.download-button:active {
      background-color: initial;
      background-position: 0 0;
      color: #ffffff;
}

.download-button:active {
      opacity: .5;
}





