* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucia Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    background: #0c1c31;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.nav-items a {
  float: left;
  width: 200px;
  padding-top: 10px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none;

}


body {
    background: #0c1c31;

    margin-top: 200px;
}

.home {
    height: 25vh;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;

}

.content {
    max-width: 900px;
    color: white;
    margin: 10px;
}


.content h1 {
    font-size: 56px;
    font-weight: 700;
}

.solid-line {
    border-bottom: 2px solid whitesmoke;
}

.content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #76bbcc;
    padding-top: 10px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
}

.content-box {
    border: medium #2b4475 solid;
    border-radius: 12px;
    margin-bottom: 15px;
}

.github-link {
    color: #76bbcc;
    font-style: italic;
}